[user]
	name = Enzo Cioppettini
[core]
	editor = vi
	excludesfile = /home/ecioppettini/.gitignore_global
[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    le = log --oneline --decorate
    ci = commit
    co = checkout
    st = status -s
    dc = diff --cached
[rerere]
	enabled = false
[include]
    path = .gitconfig.local
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = !gh auth git-credential
